@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-sans: 'Lato', sans-serif;
  --font-slab: 'Roboto Slab', sans-serif;

  /* Animations */
  --animate-blink: blink 1s infinite;

  @keyframes blink {
    from { opacity: 0 },
    to { opacity: 1 }
  }
}

@layer base {
  * {
    @apply box-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-gray-900 text-gray-300;
  }
}
