@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-sans: 'Lato', sans-serif;
  --font-slab: 'Zilla Slab', sans-serif;

  /* Animations */
  --animate-blink: blink 1s infinite;
  --animate-modal-in: modal-in 0.25s;
  --animate-modal-out: modal-out 0.25s;

  @keyframes blink {
    from {
      opacity: 0
    },
    to {
      opacity: 1
    }
  }

  @keyframes modal-in {
    from {
      transform: scale(0.8);
      opacity: 0.7;
    },
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes modal-out {
    0% {
      opacity: 1;
    }
    100% {
      transform: scale(0.8);
      opacity: 0;
    }
  }
}

@layer base {
  * {
    @apply box-border;
  }

  *:focus-visible {
    @apply outline-blue-300 outline-2 outline-offset-2
  }

  html {
    @apply scroll-smooth select-none;
  }

  body {
    @apply bg-gray-900 text-gray-300;
  }

  button {
    @apply cursor-pointer active:scale-90 duration-100;
  }
}

